@import url('./colors.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: inherit;
}
/* Targeting all scrollable containers */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #2b2b2b; /* Dark track background */
  border-radius: 4px; /* Rounded track edges */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Default thumb color */
  border-radius: 4px; /* Rounded edges for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #777; /* Slightly lighter color on hover */
}

/* Optional: Add smooth scrolling */
html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer base {
  :root {
    --ag-wrapper-border-radius: var(--ag-inherited-wrapper-border-radius, 0px);
    --ag-background-color: var(--gray-2);
    --ag-chrome-background-color: var(--gray-3);
    --ag-foreground-color: var(--gray-12);
    --ag-border-color: var(--gray-5);
    --ag-font-size: 13px;
    --ag-text-color: var(--gray-12);
    --ag-accent-color: var(--accent-9);
    --ag-row-border: var(
      --ag-inherited-row-border,
      solid 0.5px var(--ag-border-color)
    );
    --ag-header-row-border: var(
      --ag-inherited-header-row-border,
      solid 0.5px var(--ag-border-color)
    );
    --ag-column-border: var(
      --ag-inherited-column-border,
      solid 0.5px var(--ag-border-color)
    );

    --ag-font-family: var(
      --font-family,
      'IBM Plex Sans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen-Sans,
      Ubuntu
    );
    --ag-wrapper-border: 0px;
    --ag-header-background-color: var(
      --ag-inherited-header-background-color,
      var(--ag-chrome-background-color)
    );
    --ag-header-font-weight: var(--ag-inherited-header-font-weight, 500);
    --ag-header-font-size: var(
      --ag-inherited-header-font-size,
      var(--ag-font-size)
    );
    --ag-header-text-color: var(
      --ag-inherited-header-text-color,
      var(--ag-text-color)
    );
    --ag-header-vertical-padding-scale: var(
      --ag-inherited-header-vertical-padding-scale,
      0.7
    );
    --ag-row-vertical-padding-scale: var(
      --ag-inherited-row-vertical-padding-scale,
      1
    );

    --ag-header-height: var(
      --ag-inherited-header-height,
      calc(
        max(var(--ag-icon-size), var(--ag-data-font-size)) + var(--ag-spacing) *
          4 * var(--ag-header-vertical-padding-scale)
      )
    );
    --ag-row-height: var(
      --ag-inherited-row-height,
      calc(
        max(var(--ag-icon-size), var(--ag-data-font-size)) + var(--ag-spacing) *
          2.1 * var(--ag-row-vertical-padding-scale)
      )
    );
    --ag-row-hover-color: var(--ag-inherited-row-hover-color, var(--gray-2));
    --ag-pinned-column-border: var(
      --ag-inherited-pinned-column-border,
      solid 2px var(--ag-border-color)
    );

    --ag-checkbox-checked-shape-color: var(
      --ag-inherited-checkbox-checked-shape-color,
      var(--accent-9-contrast)
    );

    color-scheme: light;
  }

  :is(.dark, .dark-theme),
  :is(.dark, .dark-theme) :where(.ui-theme:not(.light, .light-theme)) {
    --ag-wrapper-border-radius: var(--ag-inherited-wrapper-border-radius, 0px);
    --ag-background-color: var(--gray-1);
    --ag-chrome-background-color: var(--gray-2);
    --ag-foreground-color: var(--gray-12);
    --ag-border-color: var(--gray-4);
    --ag-font-size: 13px;
    --ag-accent-color: var(--accent-9);
    --ag-text-color: var(--gray-12);
    --ag-row-border: var(
      --ag-inherited-row-border,
      solid 0.5px var(--ag-border-color)
    );
    --ag-header-row-border: var(
      --ag-inherited-header-row-border,
      solid 0.5px var(--ag-border-color)
    );
    --ag-column-border: var(
      --ag-inherited-column-border,
      solid 0.5px var(--ag-border-color)
    );

    --ag-font-family: var(
      --font-family,
      'IBM Plex Sans',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen-Sans,
      Ubuntu
    );
    --ag-wrapper-border: 0px;
    --ag-header-background-color: var(
      --ag-inherited-header-background-color,
      var(--ag-chrome-background-color)
    );
    --ag-header-font-weight: var(--ag-inherited-header-font-weight, 500);
    --ag-header-font-size: var(
      --ag-inherited-header-font-size,
      var(--ag-font-size)
    );
    --ag-header-text-color: var(
      --ag-inherited-header-text-color,
      var(--ag-text-color)
    );
    --ag-header-vertical-padding-scale: var(
      --ag-inherited-header-vertical-padding-scale,
      0.7
    );
    --ag-row-vertical-padding-scale: var(
      --ag-inherited-row-vertical-padding-scale,
      1
    );

    --ag-header-height: var(
      --ag-inherited-header-height,
      calc(
        max(var(--ag-icon-size), var(--ag-data-font-size)) + var(--ag-spacing) *
          4 * var(--ag-header-vertical-padding-scale)
      )
    );
    --ag-row-height: var(
      --ag-inherited-row-height,
      calc(
        max(var(--ag-icon-size), var(--ag-data-font-size)) + var(--ag-spacing) *
          2.1 * var(--ag-row-vertical-padding-scale)
      )
    );
    --ag-row-hover-color: var(--ag-inherited-row-hover-color, var(--gray-2));
    --ag-pinned-column-border: var(
      --ag-inherited-pinned-column-border,
      solid 1.5px var(--ag-border-color)
    );

    --ag-checkbox-checked-shape-color: var(
      --ag-inherited-checkbox-checked-shape-color,
      var(--accent-9-contrast)
    );

    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
